:root {
  --ff-quicksand: 'Quicksand', sans-serif;
  --ff-default: 'Quattrocento Sans', sans-serif;
  --ff-war: 'Anton', sans-serif;
}

.ff-war {
  font-family: var(--ff-war);
}

.player-title {
  position: absolute;
  /* left: 34rem; */
  /* left: calc(100vw - 65%);
  bottom: calc(100vh - 75%); */
  bottom: -1.7em;
}

.card-box {
  position: relative;
  min-height: 70vh;
  /* padding-left: 10rem; */
}

.even-margins {
  margin: 0 auto;
}

.w-90 {
  width: 90% !important;
}

@media only screen and (max-width: 1400px) {
  .card-box {
    min-height: 60vh;
  }
}
@media only screen and (max-width: 1200px) {
  .card-box {
    min-height: 50vh;
  }
}
@media only screen and (max-width: 992px) {
  .card-box {
    min-height: 40vh;
  }
}
@media only screen and (max-width: 768px) {
  .card-box {
    min-height: 30vh;
  }
}
@media only screen and (max-width: 576px) {
  .card-box {
    min-height: 20vh;
  }
}
