:root {
  --ff-quicksand: 'Quicksand', sans-serif;
  --ff-default: 'Quattrocento Sans', sans-serif;
  --ff-war: 'Anton', sans-serif;
}

.ff-war {
  font-family: var(--ff-war);
}

#player-title {
  position: absolute;
  /* left: 34rem; */
  left: calc(100vw - 65%);
  bottom: calc(100vh - 75%);
}
